src/autoyast-rnc/nfs.rnc

nfs =
  element nfs {
    element enable_nfs4 { BOOLEAN }? &
    element idmapd_domain { text }? &
    element nfs_entries {
      LIST,
      element nfs_entry {
        element server_path { text }
        & element mount_point { text }
        & element vfstype {text}?
        & element nfs_options { text }
      }*
    }
  }
